.allCategoriy__section {
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;

}

.allCategoriy__section h1 {
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 160%;
}


.navigation {
    width: 1180px;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #ffffff;
    gap: 49px;
    box-shadow: 0px 1px 10px 1px rgba(214, 214, 214, 0.19);
    border-radius: 25px;
    justify-content: center;
    margin-top: 31px;
}

.nav {
    border-bottom: 3px solid #ffffff;
    height: 65px;
    font-weight: 700;
    padding-top: 15px;
    cursor: pointer;
}

.navigation button {
    padding: 10px 20px;
    border: 1px solid #E4B717;
    filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #E4B717;
}

.cards {
    padding: 19px 31px;
    margin-top: 21px;
    width: 1180px;
    height: 353px;
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    justify-content: space-between;
}

.card__title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card__title p {
    font-weight: 450;
    font-size: 16px;
    line-height: 160%;
    color: #8A8A8A;
}

.card__title h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #363636;
}

.description {
    margin-top: 26px;
}

.description p {
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: #363636;
}

.description p:nth-child(2) {
    width: 335px;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: #8A8A8A;
}

.cards__button {
    margin-left: 200px;
}

.cards__button button {
    padding: 10px 20px;
    border: 1px solid #E4B717;
    filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #E4B717;
    transition: .5s ease-in-out;
}

.cards__button button:nth-child(2) {
    padding: 11px 52px;
    color: #FFFFFF;
    margin-left: 10px;
    background-color: #E4B717;
}

.cards__button button:hover {
    transform: scale(0.9);
}


.carusel__card {
    position: relative;
    padding: 22px 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.carusel__card a {
    width: 195.1px;
    height: 228.49px;
    background: #FAF8F8;
    border-radius: 20px;
    padding: 10px 15px;
}

.carusel__card a h3 {
    font-size: 17px;
}

.carusel__card a h4 {
    font-size: 14px;
}

.carusel__card a div:nth-child(2) {
    width: 37.81px;
    height: 38.7px;
}

.carusel__card a div:last-child > img {
    width: 17px;
    height: 17px;
}

.controllerProduct {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.controllerProduct>button {
    width: 43px;
    height: 43px;
    background: #fff;
    box-shadow: 0px 1px 9px rgba(162, 162, 162, 0.25);
    border-radius: 100px;
    margin-left: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.carusel {
    align-items: center;
    gap: 15px;
    justify-content: center;
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: 57px auto;
    color: #8A8A8A;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.news {
    padding: 17px 21px;
    width: 380px;
    height: 305px;
    left: 370px;
    top: 2451px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url("../public/images/businassman.png");
    border-radius: 20px;
}

.news__card {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
}

.news__months {
    margin-left: 269px;
    width: 59px;
    height: 55px;
    text-align: center;
    padding-top: 9px;
    background: #E4B717;
    box-shadow: 0px 1px 17px rgba(27, 171, 227, 0.25);
    border-radius: 10px;
}

.news__months p {
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
    color: #FFFFFF;
}

.news__discrb {
    margin-top: 100px;
}

.news__discrb p {
    width: 328px;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}

.news__discrb p:nth-child(2) {
    margin-top: 13px;
    width: 331px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #C2C2C2;
}

.news__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 160%;
    color: #363636;
}