.allPrice {
    top: 28%;
    width: 292px;
    height: 271px;
    background: #ffffff;
    border-radius: 20px;
    padding: 17px 28px;
    position: absolute;
    right: 0;
    left: 53%;
    box-shadow: 0px 5px 20px 10px rgba(163, 162, 162, 0.19);
}

.allPrice h1 {
    font-weight: 700;
    font-size: 21px;
}

.allPrice button {
    cursor: pointer;
    margin-top: 12px;
    padding: 12px 84px;
    background: none;
    border: 1px solid #E4B717;
    filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
    border-radius: 50px;
    font-weight: 700;
    font-size: 17px;
    color: #E4B717;
    transition: .5s ease;
}

.allPrice button:active {
    transform: scale(1.1);
}

.allPrice label {
    font-weight: 400;
    font-size: 18px;
    color: #888888;
}


.allPrice p {
    font-weight: 400;
    font-size: 18px;
    color: #363636;

}