.Application {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    background: rgba(18, 18, 18, 0.65);
    height: 100%;
}

.Application__card {
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    width: 531px;
    height: 435px;
    background: #FFFFFF;
    border-radius: 20px;
}

.accepted {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.accepted button {
    cursor: pointer;
    margin-top: 46px;
    padding: 13px 103px;
    background: #E4B717;
    border: 1px solid #E4B717;
    box-shadow: 0px 1px 17px rgba(228, 183, 23, 0.25);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    transition: .5s ease;
}

.accepted button:hover {
    transform: scale(1.1);
}