.phone {
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.cardSection {
    gap: 15px;
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.price {
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 124px;
    background: #FFFFFF;
    border-radius: 20px;
}

.priceTitle {
    font-size: 18px;
    font-weight: 700;
}

.manufacturer {
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 169px;
    background: #FFFFFF;
    border-radius: 20px;

}

.manufacturerTitle {
    font-size: 18px;
    font-weight: 700;
}

.radioInput {
    margin-top: 5px;
}

.radioInput label {
    padding-left: 13px;
    font-weight: 450;
    font-size: 17px;
    line-height: 160%;
    color: #8A8A8A;
}

.radioInput input {
    width: 17px;
    height: 17px;
    color: #8A8A8A;
    background-color: #8A8A8A;
}

.operative {
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 124px;
    background: #FFFFFF;
    border-radius: 20px;
}

.operativeTitle {
    font-size: 18px;
    font-weight: 700;
}

.checkBoxInput label {
    padding-left: 13px;
    font-weight: 450;
    font-size: 17px;
    line-height: 160%;
    color: #8A8A8A;
}

.checkBox input {
    width: 17px;
    height: 17px;
}

.sectionRight {
    padding-top: 20px;
    gap: 12.5px;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}

.sectionRight>a {
    width: 24%;
}


.carusel {
    align-items: center;
    gap: 15px;
    justify-content: center;
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: 57px auto;
    color: #8A8A8A;
}

.cardBurgerg {
    display: none;
}


@media screen and (max-width:1180px) {
    .phone {
        display: flex;
        padding: 10px 10px;
        margin: auto;
        width: 1000px;
    }

    .cardSection {
        gap: 10px;
        display: flex;
        width: 1000px;
        padding: 10px 10px;
        margin: auto;
    }

    .price {
        margin-top: 19px;
        padding: 15px;
        width: 220px;
        height: 124px;
        background: #FFFFFF;
        border-radius: 20px;
    }

    .manufacturer {
        align-items: center;
        justify-content: center;
        margin-top: 19px;
        padding: 15px;
        width: 220px;
        height: 169px;
        background: #FFFFFF;
        border-radius: 20px;

    }

    .radioInput label {
        padding-left: 10px;
        font-weight: 450;
        font-size: 16px;
        line-height: 160%;
        color: #8A8A8A;
    }

    .radioInput input {
        width: 16px;
        height: 16px;
        color: #8A8A8A;
        background-color: #8A8A8A;
    }


    .operative {
        margin-top: 19px;
        padding: 15px;
        width: 220px;
        height: 124px;
        background: #FFFFFF;
        border-radius: 20px;
    }

    .checkBoxInput label {
        padding-left: 10px;
        font-weight: 450;
        font-size: 16px;
        line-height: 160%;
        color: #8A8A8A;
    }


    .checkBox input {
        width: 16px;
        height: 16px;
    }



    .sectionRight {
        padding-top: 20px;
        gap: 5px;
        display: flex;
        width: 90%;
    }

    .sectionRight>a {
        width: 32.85%;
    }

    .carusel {
        align-items: center;
        gap: 15px;
        justify-content: center;
        display: flex;
        width: 1000px;
        padding: 10px 0;
        margin: 56px auto;
        color: #8A8A8A;
    }

}



@media screen and (max-width:768px) {
    .cardSection {
        width: 100%;
        display: block;
    }

    .phone {
        width: 100%;
    }

    .sectionLeft {
        width: 100%;
        gap: 35px;
        display: flex;
        align-items: center;
    }

    .manufacturer {
        align-items: center;
        justify-content: center;
        margin-top: 19px;
        padding: 15px;
        width: 227px;
        height: 124px;
    }

    .sectionRight>a {
        width: 32.60%;
    }

    .carusel {
        width: 100%;
    }

    
    .sectionRight {
        padding-top: 20px;
        gap: 5px;
        display: flex;
        width: 100%;
    }

    .radioInput label {
        padding-left: 13px;
        font-weight: 450;
        font-size: 14px;
        line-height: 160%;
        color: #8A8A8A;
    }

    .checkBox input {
        width: 15px;
        height: 15px;
    }

    .radioInput input {
        width: 15px;
        height: 15px;
        color: #8A8A8A;
        background-color: #8A8A8A;
    }
    

    .manufacturerTitle {
        font-size: 17px;
    }

    .priceTitle {
        font-size: 17px;
    }

    .operativeTitle {
        font-size: 17px;
    }

    .checkBoxInput label {
        font-size: 15px;
    }

} 

@media screen and (max-width:480px) {
    .cardSection {
        width: 100%;
        display: block;
    }

    .phone {
        width: 100%;
    }

    .sectionLeft {
        width: 100%;
        gap: 15px;
        display: none;
        align-items: center;
    }

    .sectionRight>a {
        width: 49.15%;
    }


    .cardBurgerg {
        display: block;
        width: 30px;
        background-color: #FFFFFF;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
}


@media screen and (max-width:480px) {
    .cardSection {
        width: 100%;
        display: block;
    }

    .phone {
        width: 100%;
    }

    .sectionRight>a {
        width: 100%;
    }
}