.categories {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 1px rgba(214, 214, 214, 0.19);
  margin-bottom: 2rem;
}

.container {
  width: 1180px;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categ {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e4b717;
  padding: 8px 20px;
  border-radius: 50px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.categ>h3 {
  font-size: 18px;
}

.selectList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.selectList h3 {
  font-size: 18px;
}

.selectList>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.selectList>li>img {
  position: relative;
  top: 3px;
}


/* media screen 1000 */

@media screen and (max-width:1180px) {
  .container {
    width: 1000px;
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .categ {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e4b717;
    padding: 8px 20px;
    border-radius: 50px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
  }

  .categ>h3 {
    font-size: 16px;
  }

  .selectList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
}



@media screen and (max-width:1000px) {
  .container {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .categ>h3 {
    font-size: 16px;
  }

  .selectList {
    display: none !important;
  }

  .categ {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e4b717;
    padding: 8px 18px;
    border-radius: 50px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
  }

  .selectList h3 {
    font-size: 14px;
  }

  .selectList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  
  
}