.phone {
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.card__section {
    gap: 15px;
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.price {
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 124px;
    background: #FFFFFF;
    border-radius: 20px;
}

.manufacturer {
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 169px;
    background: #FFFFFF;
    border-radius: 20px;

}

.radio__input {
    margin-top: 5px;
}

.radio__input label {
    padding-left: 13px;
    font-weight: 450;
    font-size: 17px;
    line-height: 160%;
    color: #8A8A8A;
}

.radio__input input {
    width: 17px;
    height: 17px;
    color: #8A8A8A;
    background-color: #8A8A8A;
}

.operative {
    margin-top: 19px;
    padding: 15px;
    width: 227px;
    height: 124px;
    background: #FFFFFF;
    border-radius: 20px;
}

.checkBox__input label {
    padding-left: 13px;
    font-weight: 450;
    font-size: 17px;
    line-height: 160%;
    color: #8A8A8A;
}

.checkBox__input input {
    border: none;
    outline: none;
}

.checkBox input {
    width: 17px;
    height: 17px;
}

.section__right {
    padding-top: 20px;
    gap: 12.5px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.section__right > a {
    width: 24%;
}



.carusel {
    align-items: center;
    gap: 15px;
    justify-content: center;
    display: flex;
    width: 1180px;
    padding: 10px 0;
    margin: 57px auto;
    color: #8A8A8A;
}

