.ChangePass {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    background: rgba(18, 18, 18, 0.65);
    height: 100%;
    z-index: 9999;
}

.ChangeForm {
    justify-content: center;
    align-items: center;
    padding: 36px 83px;
    width: 531px;
    height: 382px;
    background: #ffffff;
    border-radius: 20px;
}

.exit {
    background: none;
    border: none;
    padding-left: 400px;
    cursor: pointer;
}

.ChangeForm form h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #363636;
}

.ChangeInput {
    margin-top: 15px;
    margin-left: 25px;
}

.ChangeInput p {
    align-items: center;
    justify-content: center;
}

.ChangeForm form input {
    display: flex;
    width: 319px;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.47);
    padding: 8px 0;
    font-size: 18px;
}

.ChangeForm form input:focus-visible {
    outline: none;
}

.Changebutton {
    margin-left: 25px;
    margin-top: 46px;
    justify-content: center;
    align-items: center;
    padding: 15px 104px;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    background: #E4B717;
    border: 1px solid #E4B717;
    box-shadow: 0px 1px 17px rgba(228, 183, 23, 0.25);
    border-radius: 50px;
}

.Change {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 21px;
}