.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.chat {
  width: 770px;
  height: 627px;
  border-radius: 20px;
  box-shadow: 0px 1px 17px rgba(117, 117, 117, 0.25);
  border-radius: 20px;
  position: absolute;
  background: #FAF8F8;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.left {
    width: 62%;
}

.right {
    width: 38%;
    border-left: 1px solid rgba(138, 138, 138, 0.26);
    display: flex;
    flex-direction: column;
}

.top {
    background: #fff;
    padding: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.userTop {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
    padding: 23px;
    width: 100%;
}

.mainChat {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    height: 78%;
    flex-direction: column;
}

.message, .messageS {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;
}

.messageS {
    display: flex;
    justify-content: start;
    align-items: start;
}

.message > p, .messageS > p {
    max-width: 200px;
    width: fit-content;
    padding: 15px;
    border-radius: 20px 20px 0 20px;
    background: #E4B717;
    color: #fff;
    box-shadow: 0px 1px 17px rgba(117, 117, 117, 0.04);
}

.messageS > p {
    background: #179AE4;
    border-radius: 20px 20px 20px 0;
}

.createdAt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888888;
}

.sendMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 20px;
}

.sendMessage > input:first-child {
    outline: none;
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}

.sendMessage > img {
    position: relative;

}

.sendMessage > input:last-child {
    position: relative;
    width: 20px;
    z-index: 1000;
    left: -1rem;
    opacity: 0;
    cursor: pointer;
}

.chatWith {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.eachChat {
    display: flex;
    gap: 1rem;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
}

.eachChat:first-child {
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.06);
    background: #fff;
}