.container {
    width: 1180px;
    padding: 10px 0;
    margin: auto;
    justify-content: center;
}

.companyTitle {
    width: 1177px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 19px 28px;
}

.companyProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
}

.profile p {
    font-weight: 450;
    font-size: 16px;
    line-height: 160%;
    color: #8A8A8A;
}

.companyProfile button {
    padding: 10px 47px;
    background: #E4B717;
    box-shadow: 0px 1px 17px rgba(228, 183, 23, 0.25);
    border-radius: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    color: #FFFFFF;
}

.companyDescrip {
    margin-top: 19px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: #363636;
}

.companyDescrip p:nth-child(2) {
    font-weight: 450;
    font-size: 16px;
    color: #8A8A8A;

}

.navigation {
    width: 1180px;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #ffffff;
    gap: 54px;
    box-shadow: 0px 1px 10px 1px rgba(214, 214, 214, 0.19);
    border-radius: 25px;
    justify-content: center;
    margin-top: 31px;
}

.nav {
    border-bottom: 3px solid #ffffff;
    height: 65px;
    font-weight: 700;
    padding-top: 15px;
    cursor: pointer;
}

.navigation button {
    padding: 10px 20px;
    border: 1px solid #E4B717;
    filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #E4B717;
}

.companyCards {
    margin-top: 29px;
}

.companyCards h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 160%;
    margin-bottom: 22px;
}

.card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.carusel {
    align-items: center;
    gap: 15px;
    justify-content: center;
    display: flex;
    /* width: 1000px; */
    padding: 10px 0;
    margin: 56px auto;
    color: #8A8A8A;
}

.carusel a {
    color: #888888;
}

@media screen and (max-width:1180px) {
    .container {
        width: 1000px;
        padding: 10px 10px;
        margin: auto;
        justify-content: center;
    }

    .navigation {
        display: none;
    }

    .companyTitle {
        width: 988px;
    }

    .card {
        display: flex;
        gap: 1.7%;
        row-gap: 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 768px;
    }

    .companyTitle {
        width: 748px;
    }

}