.detail {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
}

.container {
  width: 1180px;
  display: flex;
  flex-direction: column;
}

.characteris {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.characteris > h3 {
  font-size: 23px;
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.characterisInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selectedImage {
  background: #fff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.selectedImage > img {
  width: 353px;
  height: auto;
  margin: auto;
}

.imagesToSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.imageToSelect {
  display: flex;
  padding: 25px 20px;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.characterInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.characterInfoLeft * {
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  gap: 15px;
  font-weight: 500;
}

.characterInfoRight * {
  font-size: 16px;
  line-height: 26px;
  gap: 15px;
}

.selectMemory {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.memory,
.memoryd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 58px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-size: 18px;
  color: #888888;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.memoryd {
  box-shadow: 0px 1px 17px rgba(228, 183, 23, 0.3);
  color: #e4b717;
  font-weight: 700;
}

.costSide {
  width: 28%;
  margin-top: 1rem;
}

.costTop {
  background: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.costTop {
  display: flex;
  flex-direction: column;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.costP > h3 {
  font-size: 26px;
}

.costP > h4 {
  color: #888;
  font-size: 18px;
}

.imageLike {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 1px solid #179ae4;
  border-radius: 100px;
  cursor: pointer;
}

.buy {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buy > button {
  padding: 12px 85px;
  font-size: 18px;
  color: #e4b717;
  border: 1px solid #e4b717;
  background: transparent;
  font-weight: 700;
  border-radius: 100px;
  cursor: pointer;
}

.addCart {
  width: 52px;
  height: 52px;
  border: 1px solid #e4b717;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart {
  width: 100%;
  display: flex;
  justify-content: start;
  height: 98px;
  padding: 20px;
  align-items: center;
  margin-top: 1rem;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  background: #fff;
  gap: 1rem;
  cursor: pointer;
  border: none;
}

.video {
  width: 100%;
  margin-top: 2rem;
  height: auto;
}

.hole {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: #000;
  border-radius: 30px;
}

.hole > video {
  height: 450px;
  width: auto;
}

.selectDetail {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 3rem;
}

.selected,
.select {
  padding: 20px 50px;
  background: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s linear;
}

.selected {
  background: #e4b717;
  color: #fff;
}

.detailSelected {
  margin-top: 2rem;
}

.detailS {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5rem;
}

.similarProducts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.similarProducts > h3 {
  font-size: 26px;
}

.productWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.controllerProduct {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controllerProduct > button {
  width: 58px;
  height: 58px;
  background: #fff;
  box-shadow: 0px 1px 17px rgba(162, 162, 162, 0.25);
  border-radius: 100px;
  margin-left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controllerProduct > button:last-child {
  margin-right: -2rem;
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.imageToSelect > img {
  width: 70px;
  height: auto;
}

@media screen and (max-width: 1260px) {
  .controllerProduct > button {
    margin: 0 !important;
  }
  .costP > h3 {
    font-size: 22px;
  }
  .costP > h4 {
    font-size: 16px;
  }
  .buy > button {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (max-width: 1180px) {
  .characterisInfo {
    justify-content: space-around;
  }
  .imageLike,
  .addCart {
    width: 36px;
    height: 36px;
  }
  .imageLike > img {
    width: 18px;
    height: 18px;
  }
  .buy > button {
    padding: 10px 70px;
  }
  .buy > .addCart {
    width: 46px;
    height: 46px;
  }
  .addCart > img {
    width: 18px;
    height: 18px;
  }
  .characterSide {
    width: 60%;
    align-items: center;
    display: flex;
  }
  .characterSide > div {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  .characterisInfo {
    flex-wrap: wrap;
  }
  .selectMemory {
    width: fit-content;
    gap: 0.5rem;
  }
  .costSide {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .memory {
    border-radius: 10px;
  }
  .memoryd {
    border-radius: 10px;
  }
  .costTop {
    display: flex;
    flex-direction: row;
    padding: 0;
    background: transparent;
    gap: 1rem;
  }
  .cost {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
  }
  .buy {
    margin-top: 0;
    width: auto;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    gap: 1rem;
  }
  .buy > button {
    padding: 10px 50px;
  }
  .cartBottom {
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: space-between;
  }
  .cart {
    width: 100%;
    border-radius: 10px;
    margin-top: 0;
    padding: 15px;
    height: auto;
    font-size: 16px;
  }
  .cart:first-child {
    width: 120%;
  }
  .costP > h3 {
    font-size: 19px;
  }
  .cart > img {
    width: 33px;
  }
}

@media screen and (max-width: 1000px) {
  .characterSide {
    width: 50%;
  }
  .detailS {
    gap: 0;
    justify-content: space-between;
  }
  .productWrapper {
    gap: 1.3%;
    row-gap: 1rem;
  }
  .productWrapper > a:last-child{
    display: none;
  }
  .selected,
  .select {
    border-radius: 10px !important;
    padding: 15px 30px;
    font-size: 17px;
  }
  .costSide {
    justify-content: space-evenly;
  }
  .cartBottom,
  .cart,
  .costTop,
  .cost,
  .buy {
    width: fit-content;
  }
  .hole > img {
    width: 50px;
    height: auto;
  }
}

@media screen and (max-width: 950px) {
  .costSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}


@media screen and (max-width: 850px) {
  .selectedImage > img {
    width: 250px;
    height: auto;
  }
  .memory {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
  .characterSide {
    justify-content: flex-end;
  }
  .characterInfoLeft > p, .characterInfoRight > p {
    font-size: 14px !important;
  }
  .characterInfo {
    margin: 0 !important;
  }
  .memoryd {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .characterSide {
    width: fit-content;
  } 
  .detailS {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .info > p {
    font-size: 14px;
  } 
  .productWrapper > a:nth-child(3){
    display: none;
  }
  .characterisInfo {
    gap: 1rem;
  }
  .hole > video {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
} 

@media screen and (max-width: 510px) {
  .productWrapper > a:nth-child(2){
    display: none;
  }
  .costTop, .cartBottom  {
    flex-direction: column;
    width: 100%;
  }
  .cost, .buy, .cart {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
  .selectMemory {
    margin: auto;
  }
}


@media screen and (max-width: 480px) {
  .characterInfo {
    gap: 0.5rem;
  }
  .characterInfo p {
    font-size: 13px !important;
  }
  .hole > img:first-child {
    width: 200px !important;
    height: auto;
  }
  .select, .selected {
    padding: 10px 25px;
    font-size: 16px;
  }
  .imagesToSelect {
    gap: 1rem;
  }
  .imageToSelect > img {
    width: 50px;
    height: auto;
  }
}