.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
}

.container a {
    color: #8A8A8A;
    font-size: 16px;
}

.logo {
    text-transform: uppercase;
    color: #E4B717 !important;
    font-size: 35px !important;
    font-weight: 700;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navigation {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.links {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .center {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
    }

    .last {
        justify-content: center;
        align-items: center;
    }
}