* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF8F8;
    accent-color: #E4B717;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}