.header {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 1px rgba(214, 214, 214, 0.17);
}

.container {
  width: 1180px;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  width: 40%;
}

.search > input {
  border: none;
  outline: navajowhite;
  width: 95%;
  font-size: 17px;
}

.search > img {
    cursor: pointer;
}

.contra,
.contra * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.image {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
}

.contra select {
  outline: none;
  border: none;
  font-size: 18px;
  width: 50px;
  font-weight: 700;
}

.ads {
  margin-left: 40px;
}


.image:last-child {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ads {
    margin-left: 0;
  }
  .container {
    padding-left: 1%;
    padding-right: 1%;
  }
  .contraRight > a {
    display: none;
  }

  .contraLeft > select {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contraLeft {
    display: none;
  }
  .contraRight { 
    display: none;
  }
  .search {
    display: none;
  }
  .image:last-child {
    display: block;
  }
}