.Header {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 1px rgba(118, 118, 118, 0.17);
}

.HeaderButton {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px rgba(175, 175, 175, 0.19);
}

.Header__section {
    gap: 48px;
    display: flex;
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.HeaderButton__section {
    gap: 35px;
    display: flex;
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.Header__search {
    width: 43%;
    border: 1px solid #D9D9D9;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.Header__search input {
    padding: 9px 10px;
    font-size: 17px;
    color: #666565;
    width: 90%;
    border: none;
}

.Header__search input:focus-visible {
    outline: none;
}

.Header__search image {
    padding-right: 10px;
}

.select {
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
}

.select select {
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    border: none;
}


.select select:focus-visible {
    outline: none;
}

.call {
    cursor: pointer;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 17px;
    display: flex;
}

.order {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.katagorie {
    cursor: pointer;
    gap: 11px;
    background: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #E4B717;
    width: 161px;
    height: 41px;
    border: 1px solid #E4B717;
    filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
    border-radius: 50px;
}

.Header__down a {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.Header__down a:hover {
    color: #E4B717;
}

.Header__down img {
    transition: .2s ease-in-out;
}

.Header__down img:hover {

    transform: rotate(0.5turn);
}

.Kategor {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 360px;
    margin-top: 280px;
    width: 1180px;
    height: 193px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 10px rgba(214, 214, 214, 0.19);
    z-index: 999;
}
