.Header {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 1px rgba(118, 118, 118, 0.17);
}

.HeaderButton {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px rgba(175, 175, 175, 0.19);
}

.Header__section {
    gap: 48px;
    display: flex;
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.HeaderButton__section {
    gap: 35px;
    display: flex;
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.Header__search {
    width: 43%;
    border: 1px solid #D9D9D9;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.Header__search input {
    padding: 9px 10px;
    font-size: 17px;
    color: #666565;
    width: 90%;
    border: none;
}

.Header__search input:focus-visible {
    outline: none;
}

.Header__search image {
    padding-right: 10px;
}

.select {
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
}

.select select {
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    border: none;
}


.select select:focus-visible {
    outline: none;
}

.call {
    cursor: pointer;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 17px;
    display: flex;
}

.order {
    cursor: pointer;
    align-items: center;
    display: flex;
}


.image:last-child {
  display: none;
}


@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .ads {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .ads {
    margin-left: 0;
  }
  .container {
    padding-left: 1%;
    padding-right: 1%;
  }
  .contraRight > a {
    display: none;
  }

  .contraLeft > select {
    display: none;
  }
  .search {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .contraLeft {
    display: none;
  }
  .contraRight { 
    display: none;
  }
  .search {
    display: none;
  }
  .image:last-child {
    display: block;
  }
}