.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  width: 1180px;
  flex-direction: column;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 410px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.addLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 60px;
  position: relative;
  height: 100%;
  border-radius: 30px;
  background: #000;
  position: relative;
}

.addLeft * {
  color: #fff;
}

.addLeft>img {
  position: relative;
  height: auto;
  width: 60%;
}

.cart {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 25px;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid #fff;
}

.cart *,
.select,
.select img {
  background: transparent !important;
}

.cart>h3 {
  background: transparent !important;
}

.catS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.cat {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff !important;
  padding: 20px 30px;
  margin-right: 0 !important;
  border-radius: 20px;
  width: 23.1% !important;
}

.catTop {
  border: 1px solid #d6d6d6;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cat * {
  background: transparent !important;
}

.cat>h4 {
  color: #8a8a8a;
}

.catController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.catControl {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiperL>div {
  display: flex;
  gap: 2.7% !important;
}

.catControl:last-child {
  border: 1px solid #e4b717;
}

.newProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.newProducts>h3 {
  font-size: 23px;
}

.carusel__card > a > img {
  width: 95px !important;
  height: auto;
}

.carusel__card>a>div {
  margin-top: 0;
}

.newsWrapper {
  display: flex;
  gap: 1.65%;
  flex-wrap: wrap;
}

.loadMore {
  width: fit-content;
  margin: auto;
  padding: 12px 25px;
  border-radius: 50px;
  border: 1px solid #179ae4;
  color: #179ae4;
  font-size: 17px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
}

.news {
  width: 32.2%;
  padding: 20px;
  border-radius: 20px;
}

.newProductsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7%;
  row-gap: 1rem;
}


.allCategoriy__section {
  align-items: center;
  width: 1180px;
  padding: 10px 0;
  margin: auto;
}

.allCategoriy__section h1 {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 160%;
}


.cards {
  padding: 19px 31px;
  margin-top: 21px;
  width: 1180px;
  height: 353px;
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  justify-content: space-between;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__title p {
  font-weight: 450;
  font-size: 16px;
  line-height: 160%;
  color: #8a8a8a;
}

.card__title h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #363636;
}

.description {
  margin-top: 26px;
}

.description p {
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  color: #363636;
}

.description p:nth-child(2) {
  width: 335px;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a8a;
}

.cards__button {
  margin-left: 200px;
  display: flex;
  gap: 0.5rem;
}

.cards__button button {
  padding: 10px 20px;
  border: 1px solid #e4b717;
  filter: drop-shadow(0px 1px 17px rgba(228, 183, 23, 0.25));
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #e4b717;
  transition: 0.5s ease-in-out;
}

.cards__button button:nth-child(2) {
  padding: 11px 52px;
  color: #ffffff;
  background-color: #e4b717;
}

.cards__button button:hover {
  transform: scale(0.9);
}


.carusel__card {
  position: relative;
  padding: 22px 12px;
  display: flex;
  align-items: center;
  height: auto;
  gap: 20px;
}

.carusel__card div {
  width: 195px;
  height: auto;
  background: #faf8f8;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.carusel__card a h3 {
  font-size: 17px;
  padding-left: 0px;
}

.carusel__card a h4 {
  font-size: 14px;
}

.carusel__card div div:nth-child(2) {
  width: 42px;
  height: auto;
}

.carusel__card div div:nth-child(3) {
  width: 190px;
  margin-left: -90px;
  gap: 30px;
  height: 36px;
}


.carusel__card a img:first-child{
  width: 70px;
  height: auto;
}

.controllerProduct {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controllerProduct > button {
  width: 43px;
  height: 43px;
  background: #fff;
  box-shadow: 0px 1px 9px rgba(162, 162, 162, 0.25);
  border-radius: 100px;
  margin-left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carusel {
  align-items: center;
  gap: 15px;
  justify-content: center;
  display: flex;
  width: 1180px;
  padding: 10px 0;
  margin: 57px auto;
  color: #8a8a8a;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.news {
  padding: 17px 21px;
  width: 380px;
  height: 305px;
  left: 370px;
  top: 2451px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)),
    url("../public/images/businassman.png");
  border-radius: 20px;
}

.news__card {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.news__months {
  margin-left: 269px;
  width: 59px;
  height: 55px;
  text-align: center;
  padding-top: 9px;
  background: #e4b717;
  box-shadow: 0px 1px 17px rgba(27, 171, 227, 0.25);
  border-radius: 10px;
}

.news__months p {
  font-weight: 700;
  font-size: 23px;
  line-height: 20px;
  color: #ffffff;
}

.news__discrb {
  margin-top: 100px;
}

.news__discrb p {
  width: 328px;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: #ffffff;
}

.news__discrb p:nth-child(2) {
  margin-top: 13px;
  width: 331px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #c2c2c2;
}

.news__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 160%;
  color: #363636;
}

.carusel__card>a:nth-child(1) {
  display: none;
}

.categories {
  margin-top: 2rem;
}

.addItem {
  width: 100% !important;
}


@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .cats {
    overflow: scroll;
  }

  .news {
    padding: 10px;
    border-radius: 10px;
  }

  .cards {
    width: 100%;
  }

  .carusel {
    width: auto;
  }
}

@media screen and (max-width: 1080px) {
  .cards {
    flex-direction: column;
    height: fit-content;
    padding: 10px;
  }

  .carusel__card>div:nth-child(1) {
    display: flex;
  }

  .carusel__card>div {
    width: 24%;
  }

  .description p:nth-child(2) {
    width: auto;
    margin-bottom: 1rem;
  }

  .cards__button {
    width: auto;
    align-items: flex-end;
    display: flex;
    margin-left: 0;
    justify-content: flex-end;
  }

  .cards__button>button {
    padding: 10px 20px !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  .carusel__card>div {
    width: 32%;
  }

  .carusel__card>div:nth-child(1) {
    display: none;
  }

  .carusel__card>div {
    padding: 10px;
  }
}

@media screen and (max-width: 680px) {
  .carusel__card>div:nth-child(2) {
    display: none;
  }

  .carusel__card>div {
    width: 100% !important;
  }

  .cat {
    width: 32.7% !important;
  }
}

@media screen and (max-width: 460px) {
  .carusel__card>div:nth-child(3) {
    display: none;
  }


  .cards__button {
    flex-direction: column;
  }

  .cards__button>button:last-child {
    margin-left: 0;
  }

  .card__title {
    flex-direction: column;
    text-align: center;
  }

  .cat {
    width: 52% !important;
  }
}

@media screen and (max-width: 768px) {
  .addLeft>img {
    height: 250px;
    width: auto;
  }

  .addLeft {
    height: 300px;
  }

  .newsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .news {
    width: 100%;
  }

  .addLeft>h1 {
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 100000;
  }

  .addLeft {
    border-radius: 20px;
  }

  .addLeft>img {
    left: 25%;
  }

  .add {
    margin-bottom: 0;
    height: auto;
  }

  .catTop {
    width: 90px;
    height: 90px;
  }

  .catTop>img {
    width: 30px;
    height: auto;
  }
}