.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    padding: 10px 0;
    margin: auto;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.navigation ul>li>a {
    color: #8A8A8A;
    text-decoration: none;
}

.navigation__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation__right a {
    text-decoration: none;
    color: #8A8A8A;
}

