.order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.order,
.dn {
    transition: 0.1s;
}

.dn {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -100;
}

.dn>.orderSide {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 18, 0.65);
    z-index: 1000;
}

.orderSide {
    display: flex;
    background: #fff;
    position: fixed;
    top: 25%;
    border-radius: 20px;
    z-index: 100000000;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 531px;
    gap: 3rem;
    align-items: center;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.center h3 {
    font-size: 25px;
    font-weight: 700;
}

.center p {
    color: #888;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background: #E4B717; */
}

.take {
    text-align: center;
    padding: 15px 20px;
    background: #E4B717;
    width: 280px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 200px;
}