.selectCategory {
    padding: 10px 5px;
    position: absolute;
    display: flex;
    margin-top: 280px;
    width: 1180px;
    height: 193px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 10px rgba(214, 214, 214, 0.19);
    z-index: 999;
}

.categorLeft {
    font-size: 18px;
    font-weight: 700;
    border-right: 1px solid #cacaca;
    width: 200px;
}

.categorLeft  div {
    padding-left: 5px;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
}

.categorLeft h1{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 12px;
    border: none;
    background: none;
}

.categorLeft div:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E4B717;
    border-radius: 15px;
}

.categorSection {
    display: flex;
}

.categorRight {
    justify-content: center;
    height: 10px;
    align-items: center;
}

.table {
    display: flex;
    text-align: center;
    gap: 150px;
    justify-content: center;
    padding: 10px 25px;
}

.table ul li{
    padding-top: 10px;
}

.table ul li a {
    color: #666565;
    font-weight: 700;
}